html 
	font-size: 62.5%
	font-family: sans-serif
	overflow-y: scroll

body 
	font-family: helvetica, arial, sans-serif
	line-height: 1.5
	margin: 0

::selection 
	background-color: selectionBG
	color: selectionC
	text-shadow: none

fieldset
	border: 0
	margin: 0
	padding: 0

legend
	border: 0
	padding: 0
	white-space: normal

input
	border: 0 none

label,
input[type="checkbox"],
input[type="radio"],
button,
select
	cursor: pointer

html input[disabled],
button[disabled],
select[disabled]
	cursor: default

button,
input,
optgroup,
select,
textarea
	box-sizing: border-box
	font-family: inherit
	font-size: inherit
	line-height: inherit
	margin: 0
	vertical-align: baseline

button,
input
	line-height: 1

button,
select
	text-transform: none


button 
	overflow: visible

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] 
	cursor: pointer

button[disabled],
html input[disabled] 
	cursor: default

input[type="checkbox"],
input[type="radio"] 
	box-sizing: border-box
	margin-top: -.17em
	padding: 0
	vertical-align: middle

input[type="search"] 
	-webkit-appearance: textfield
	box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration 
	-webkit-appearance: none

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
	height: auto 

button::-moz-focus-inner,
input::-moz-focus-inner 
	border: 0
	padding: 0

select:focus,
button:focus,
textarea:focus,
input:focus 
	outline: 0

textarea 
	overflow: auto
	resize: vertical
	vertical-align: top

legend 
	border: 0
	padding: 0

optgroup 
	font-weight: bold

table 
	border-collapse: collapse
	border-spacing: 0

td, th 
	padding: 0

a:focus 
	outline: thin dotted


a:active,
a:hover 
	outline: 0

li ul,
li ol 
	margin: 0

ul, ol, dl 
	margin: 0

ul, ol 
	padding: 0 0 0 1.5em

li, dt, dd 
	padding-left: 0
	position: relative

li:first-child,
dt:first-child,
dd:first-child 
	margin-top: 0

dt 
	font-weight: bold

dd 
	margin-left: 3em

h1, h2, h3, h4, h5, h6 
	font-weight: bold
	margin: 0

p, pre, blockquote
	font-size: 1em
	margin: 0

abbr[title]
	border-bottom: 1px dotted
	cursor: help

strong
	font-weight: 700

em
	font-style: italic

dfn
	font-style: italic

hr
	box-sizing: content-box
	height: 0

mark 
	background: #ff0
	color: #000

code, kbd, pre, samp
	font-family: coursiva, monospace, serif
	font-size: 1em

pre
	overflow: auto
	white-space: pre-wrap

q:lang(en), .q.en 
	quotes: "\201C" "\201D" "\2018" "\2019"

q:lang(ru), .q.ru 
	quotes: '\00AB' '\00BB' '\201E' '\201C'


big 
	font-size: 120%

small
	font-size: 80%

sup 
	top: -.5em
	bottom: -.25em
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline

