@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-y: scroll; }

body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  margin: 0; }

::-moz-selection {
  background-color: selectionBG;
  color: selectionC;
  text-shadow: none; }

::selection {
  background-color: selectionBG;
  color: selectionC;
  text-shadow: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

input {
  border: 0 none; }

label,
input[type="checkbox"],
input[type="radio"],
button,
select {
  cursor: pointer; }

html input[disabled],
button[disabled],
select[disabled] {
  cursor: default; }

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: 1; }

button,
select {
  text-transform: none; }

button {
  overflow: visible; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin-top: -0.17em;
  padding: 0;
  vertical-align: middle; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

select:focus,
button:focus,
textarea:focus,
input:focus {
  outline: 0; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

li ul,
li ol {
  margin: 0; }

ul, ol, dl {
  margin: 0; }

ul, ol {
  padding: 0 0 0 1.5em; }

li, dt, dd {
  padding-left: 0;
  position: relative; }

li:first-child,
dt:first-child,
dd:first-child {
  margin-top: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 3em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0; }

p, pre, blockquote {
  font-size: 1em;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: coursiva, monospace, serif;
  font-size: 1em; }

pre {
  overflow: auto;
  white-space: pre-wrap; }

q:lang(en), .q.en {
  quotes: "“" "”" "‘" "’"; }

q:lang(ru), .q.ru {
  quotes: "«" "»" "„" "“"; }

big {
  font-size: 120%; }

small {
  font-size: 80%; }

sup {
  top: -0.5em;
  bottom: -0.25em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

.pseudolink, .ViewOnMap__link {
  display: inline-block;
  border-bottom: 1px dotted; }

.PseudoTable, .Header .Wrapper, .FlyChoose .Wrapper, .FormGroup, .FilterDetails, .FilterDate, .FilterCount, .ChildrenCount, .Advantages__container, .CompanyStatistics__container, .FooterLinks {
  display: table; }
  .PseudoTable__cell, .Header__box, .FlyChoose__box, .FormGroup__box, .FilterDetails__box, .FilterDate__box, .FilterCount__box, .ChildrenCount__box, .Advantages__box, .CompanyStatistics__box, .FooterLinks__item {
    display: table-cell;
    vertical-align: top; }
    .PseudoTable__cell.w25, .w25.Header__box, .w25.FlyChoose__box, .w25.FormGroup__box, .w25.FilterDetails__box, .w25.FilterDate__box, .w25.FilterCount__box, .w25.ChildrenCount__box, .Advantages__box, .w25.CompanyStatistics__box, .w25.FooterLinks__item {
      padding-left: 30px; }
      .PseudoTable__cell.w25:first-child, .w25.Header__box:first-child, .w25.FlyChoose__box:first-child, .w25.FormGroup__box:first-child, .w25.FilterDetails__box:first-child, .w25.FilterDate__box:first-child, .w25.FilterCount__box:first-child, .w25.ChildrenCount__box:first-child, .Advantages__box:first-child, .w25.CompanyStatistics__box:first-child, .w25.FooterLinks__item:first-child {
        margin-left: 0; }

.bbox, .Btn, .Filter, .Form__input, .Form__inputText, .FilterType, .FilterType__box, .FilterDetails, .ChildrenCount__box, .ChildrenCount__caption, .FlightRout__map, .FlightRout__description, .Advantage__image {
  box-sizing: border-box; }

.w25, .Advantages__box {
  width: 25%; }

.separated, .FilterType__box + .FilterType__box, .FilterDetails__box + .FilterDetails__box, .ChildrenCount__box + .ChildrenCount__box {
  position: relative; }
  .separated:before, .FilterType__box + .FilterType__box:before, .FilterDetails__box + .FilterDetails__box:before, .ChildrenCount__box + .ChildrenCount__box:before {
    background: #fff;
    border-left: 1px solid #bec4cc;
    border-right: 1px solid #bec4cc;
    box-shadow: 1px 0 0 #fff;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px; }

.Btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  line-height: 1em; }
  .Btn--big {
    font-family: PT Sans Narrow;
    font-size: 19px;
    font-weight: bold;
    padding: 19px 25px 16px;
    text-transform: uppercase; }
  .Btn--small {
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    padding: 7px 10px 6px; }
  .Btn--blue {
    color: #fff;
    background-color: #4a81d4;
    background-image: url(../img/ui/stripes_middle.png);
    border-color: #1d6fa7; }
    .Btn--blue:hover {
      background-color: #5290ef; }
    .Btn--blue:active {
      background-color: #406fb7; }
  .Btn--red {
    color: #8a1a38;
    background-color: #e33966;
    background-image: url(../img/ui/stripes_big.png);
    border-color: #900429;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    position: relative; }
    .Btn--red:before {
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
      content: "";
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .Btn--red:after {
      background: -webkit-radial-gradient(ellipse, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      background: radial-gradient(ellipse, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .Btn--red:hover {
      background-color: #fd4f7c; }
    .Btn--red:active {
      background-color: #af3051; }

.icon {
  display: inline-block;
  background: url(../img/ui/icons.png) 0 0 no-repeat;
  position: relative;
  top: 0.15em; }
  .icon--menu {
    height: 16px;
    margin-right: 5px;
    width: 16px; }
  .icon--plane {
    background-position: 0 -32px; }
  .icon--hand {
    background-position: -42px -32px; }
  .icon--gears {
    background-position: -84px -32px; }
  .icon--pointer {
    background-position: -126px -32px; }
  .icon--phone {
    background-position: -168px -32px; }
  .icon--change {
    background-position: 0 -187px;
    height: 26px;
    width: 24px; }
  .icon--pin {
    background-position: -25px 0;
    height: 27px;
    width: 20px; }
  .icon--redPin {
    background-position: 0 -152px;
    height: 30px;
    width: 28px; }
  .icon--calendar {
    background-position: 0 -106px;
    height: 22px;
    width: 20px; }
  .icon--man {
    background-position: 0 -53px;
    height: 48px;
    width: 18px; }
  .icon--planeSmall {
    background-position: 0 -133px;
    height: 14px;
    width: 15px; }
  .icon--changeSmall {
    background-position: -20px -133px;
    height: 14px;
    width: 15px; }

a {
  color: #bfc5d6;
  text-decoration: none; }
  a .icon {
    cursor: pointer; }
  a:hover {
    color: #ff3968; }
    a:hover .icon--plane {
      background-position: -21px -32px; }
    a:hover .icon--hand {
      background-position: -63px -32px; }
    a:hover .icon--gears {
      background-position: -105px -32px; }
    a:hover .icon--pointer {
      background-position: -147px -32px; }
    a:hover .icon--phone {
      background-position: -189px -32px; }
    a:hover .icon--change {
      background-position: -29px -187px; }
    a:hover .icon--calendar {
      opacity: 0.7; }
    a:hover .icon--man {
      background-position: -23px -53px; }

.Page {
  background-image: url(../img/brand/flare_top.png), url(../img/brand/clouds.png);
  background-color: #160c21;
  background-position: 50% 7px;
  background-repeat: repeat-x; }

.Wrapper {
  margin: 0 auto; }
  .Wrapper--main {
    box-sizing: border-box;
    width: 960px;
    padding: 0 17px; }

.Header {
  font-family: Quicksand;
  padding: 24px 0 45px 0; }
  .Header__box--logo {
    width: 1px; }
  .Header__box--navigation {
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 10px; }
  .Header__logoLink {
    background: url("../img/brand/logo.png") 0 0 no-repeat;
    cursor: pointer;
    display: block;
    height: 61px;
    width: 95px; }
    .Header__logoLink:hover {
      background-position: -100px 0; }
  .Header .Wrapper {
    padding-right: 0; }

.MainNavigation {
  font-size: 14px; }
  .MainNavigation__item {
    display: inline-block; }
    .MainNavigation__item:last-child .MainNavigation__link {
      padding-right: 0; }
  .MainNavigation__link {
    display: block;
    padding-right: 45px; }

.FlyChoose {
  font-family: PT Sans Narrow;
  font-size: 17px;
  margin-borrom: 55px; }
  .FlyChoose__box + .FlyChoose__box {
    padding-left: 22px; }
  .FlyChoose .Wrapper {
    padding: 0; }

.Filter {
  background-color: #e3e5e8;
  border-radius: 5px;
  position: relative;
  width: 655px;
  max-height: 298px;
  box-sizing: border-box; }
  .Filter:before, .Filter:after {
    background-color: #f14774;
    background-image: url(../img/ui/stripes_big.png);
    content: "";
    position: absolute;
    width: 6px;
    height: 70%;
    top: 14px; }
  .Filter:before {
    left: -6px;
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4) inset; }
  .Filter:after {
    right: -6px;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4) inset; }

.Form {
  max-height: 298px;
  box-sizing: border-box; }
  .Form__section {
    background-image: url("../img/ui/stripes_big.png");
    border-radius: 5px;
    border-bottom: 1px solid #c9ced6;
    box-shadow: 0 1px 0 #fff;
    padding: 4px 17px 9px; }
    .Form__section--dark {
      background-color: #e8e9ed; }
    .Form__section--bright {
      background-color: #f3f3f4; }
    .Form__section + .Form__section {
      margin-top: 1px; }
  .Form__caption {
    text-shadow: 1px 1px 0 #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px; }
  .Form__inputWrapper {
    position: relative;
    width: 100%; }
    .Form__inputWrapper--icon .icon {
      position: absolute;
      right: 10px;
      top: 12px; }
  .Form__input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 14px 12px 14px;
    width: 100%; }
    .Form__input:hover {
      box-shadow: 0 0 2px #79b2d3, 0 0 1px #79b2d3, 0 1px 3px rgba(0, 0, 0, 0.1); }
    .Form__input:focus {
      box-shadow: 0 0 2px #79b2d3, 0 0 1px #79b2d3, 0 0 10px #79b2d3, 0 1px 3px rgba(0, 0, 0, 0.3); }
      .Form__input:focus + .icon--pin {
        background-position: 0 0; }
      .Form__input:focus ~ .Form__inputText {
        display: none; }
  .Form__inputText {
    color: #c6c6c6;
    position: absolute;
    top: 10px; }
    .Form__inputText:before {
      content: ", ";
      color: #000; }
  .Form__item--radio {
    position: relative;
    display: inline-block; }
  .Form__radio {
    opacity: 0;
    position: absolute;
    left: 0;
    vertical-align: middle; }
    .Form__radio + .Form__caption {
      display: inline-block;
      position: relative;
      font-size: 17px;
      color: #9ca1ac;
      text-shadow: 1px 1px 0 #fff;
      white-space: nowrap;
      margin: 0; }
      .Form__radio + .Form__caption:before {
        content: "";
        background-color: #838792;
        background-image: url(../img/ui/stripes_small.png);
        border-radius: 22px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.6);
        display: inline-block;
        margin-right: 7px;
        height: 22px;
        position: relative;
        top: 4px;
        width: 22px; }
    .Form__radio:checked + .Form__caption {
      color: #f14774; }
      .Form__radio:checked + .Form__caption:after {
        content: "";
        background-color: #f14774;
        border-radius: 15px;
        box-shadow: 0 0 5px #000, 0 0 2px #000, inset 0 0 1px rgba(255, 255, 255, 0.3);
        position: absolute;
        left: 0;
        top: 4px;
        margin: 4px;
        height: 14px;
        width: 14px; }

.FilterType {
  padding: 0;
  width: 100%; }
  .FilterType__box {
    display: inline-block;
    padding: 7px 17px 10px;
    vertical-align: top;
    width: 50%; }
  .FilterType .FormGroup {
    width: 100%; }
    .FilterType .FormGroup__box {
      text-align: right;
      width: 50%; }
      .FilterType .FormGroup__box:first-child {
        text-align: left; }

.FilterDestination__changeDestination {
  margin: 0 7px 0 9px;
  position: relative;
  top: 6px; }
.FilterDestination__item {
  display: inline-block; }
  .FilterDestination__item .Form__input {
    width: 290px; }
  .FilterDestination__item .Form__caption {
    color: #596786; }

.FilterDetails {
  border: 0 none;
  box-shadow: none;
  padding: 5px 0 0;
  width: 100%; }
  .FilterDetails__box {
    padding: 0 17px;
    position: relative;
    width: 50%; }
  .FilterDetails .Form__caption {
    color: #c1c4cb; }

.FilterDate {
  margin-left: -13px; }
  .FilterDate__box {
    padding-left: 13px;
    width: 50%; }

.ViewOnMap {
  margin-top: 14px;
  padding-top: 7px;
  position: relative;
  text-align: center; }
  .ViewOnMap:before {
    content: "";
    border-top: 1px solid #bec4cc;
    border-bottom: 1px solid #fff;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .ViewOnMap__link {
    color: #9ca1ac;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8); }

.FilterCount {
  width: 100%; }

.Page .PeopleCount {
  margin-top: 3px; }
  .Page .PeopleCount:hover .PeopleCount__item:hover .icon--man {
    background-position: -23px -53px; }
  .Page .PeopleCount:hover .PeopleCount__item:hover ~ .PeopleCount__item .icon--man {
    background-position: 0 -53px; }
  .Page .PeopleCount:hover .PeopleCount__item .icon--man {
    background-position: -23px -53px; }
  .Page .PeopleCount__item {
    display: inline-block;
    padding-left: 10px; }
    .Page .PeopleCount__item:first-of-type {
      padding-left: 0; }
    .Page .PeopleCount__item .icon--man {
      background-position: -23px -53px; }

.PeopleCount__input {
  opacity: 0;
  position: absolute;
  visibility: hidden; }
  .PeopleCount__input:checked ~ .PeopleCount__item .icon--man {
    background-position: 0 -53px; }
  .PeopleCount__input:checked + .PeopleCount__item .icon--man {
    background-position: -23px -53px; }
.PeopleCount__caption {
  display: block; }

.ChildrenCount {
  color: #4b4b4b;
  margin: 12px 0 16px; }
  .ChildrenCount__box {
    padding: 0 17px;
    white-space: nowrap; }
    .ChildrenCount__box:first-child {
      padding-left: 0; }
  .ChildrenCount__header {
    font-family: Quicksand;
    font-size: 12px; }
  .ChildrenCount__item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: -4px; }
    .ChildrenCount__item:first-child {
      margin-left: -7px; }
  .ChildrenCount__caption {
    border-radius: 23px;
    display: block;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: bold;
    max-height: 23px;
    padding: 4px 0 6px;
    text-align: center;
    width: 23px;
    line-height: 1em; }
  .ChildrenCount__input {
    position: absolute;
    opacity: 0; }
    .ChildrenCount__input:checked + .ChildrenCount__caption {
      background: #41aceb;
      color: #fff; }

.FilterCountNumber {
  margin-top: 3px;
  color: #4b4b4b;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  font-family: Quicksand;
  font-size: 12px;
  font-weight: bold; }
  .FilterCountNumber__item {
    background: #dfe2e5; }
    .FilterCountNumber__item + .FilterCountNumber__item {
      margin-top: 10px; }
  .FilterCountNumber__count {
    background: #d5dadf;
    color: #6b99b4;
    display: inline-block;
    font-size: 23px;
    width: 26px;
    text-align: center;
    line-height: 1em;
    padding: 3px 0 4px; }

.FlyChoose__box--map {
  width: 100%; }

.FlightRout {
  background-color: #fff;
  background-image: url(../img/brand/map.png);
  background-position: 50% 50%;
  position: relative;
  width: 100%; }
  .FlightRout__map {
    background: #fff;
    opacity: 0.8;
    padding: 6px;
    position: relative;
    width: 100%; }
  .FlightRout__mapWrapper {
    width: 100%;
    height: 286px;
    position: relative; }
    .FlightRout__mapWrapper iframe {
      position: absolute;
      height: 100%;
      width: 100%; }
  .FlightRout__trajectory {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%; }
  .FlightRout__trajectoryIcon {
    position: absolute; }
  .FlightRout__description {
    bottom: 0;
    color: #fff;
    padding: 0 12px 12px;
    position: absolute;
    width: 100%; }
  .FlightRout__points {
    background: rgba(0, 0, 0, 0.5);
    font-family: PT Sans Narrow;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px 3px; }
  .FlightRout__count {
    background: rgba(0, 0, 0, 0.7);
    font-family: Quicksand;
    font-size: 12px;
    text-align: center;
    padding: 8px 12px 6px; }

.FilterButton {
  padding: 0;
  position: relative;
  height: 30px;
  box-shadow: none;
  border: 0 none; }
  .FilterButton__button {
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -101px;
    width: 202px; }

.Advantages {
  background-color: #fff;
  background-image: url(../img/brand/stripes_blue.png);
  background-repeat: repeat-x;
  position: relative;
  margin-top: 55px;
  padding: 46px 0 40px; }
  .Advantages__container {
    margin-left: -30px; }
  .Advantages .Wrapper {
    padding: 0; }

.Advantage {
  background-color: #e94570;
  background-image: url(../img/ui/stripes_big.png);
  border-radius: 5px;
  padding-bottom: 5px;
  overflow: hidden; }
  .Advantage__wrapper {
    background: #f1f3f5;
    border: 1px solid #dae1e8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    min-height: 228px;
    box-sizing: border-box; }
  .Advantage__imageWrapper {
    border: 1px solid #fff;
    box-shadow: 0 0 2px #000;
    margin: 4px;
    height: 128px;
    overflow: hidden;
    position: relative; }
  .Advantage__image {
    position: absolute;
    width: 100%; }
  .Advantage__description {
    color: #596786;
    font-size: 11px;
    padding: 0 17px;
    margin: 8px 0 6px;
    line-height: 1.7em;
    text-align: justify; }

.SubscribeBlock {
  text-align: center; }
  .SubscribeBlock__image {
    background-image: url(../img/brand/letter.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    height: 43px;
    width: 128px; }
  .SubscribeBlock__form {
    margin-top: 5px; }
  .SubscribeBlock__textInputWrapper {
    padding: 0 3px; }
  .SubscribeBlock__textInput {
    background: #a4b7c9;
    border: 1px solid #e8eef3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    display: block;
    padding: 7px 10px 8px;
    width: 100%;
    font-family: PT Sans Narrow;
    font-size: 16px;
    font-weight: bold; }
    .SubscribeBlock__textInput:focus {
      background: #fff; }
    .SubscribeBlock__textInput::-webkit-input-placeholder {
      color: #d6e0ec;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }
    .SubscribeBlock__textInput::-moz-placeholder {
      color: #d6e0ec;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }
    .SubscribeBlock__textInput:-moz-placeholder {
      color: #d6e0ec;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }
    .SubscribeBlock__textInput:-ms-input-placeholder {
      color: #d6e0ec;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }
  .SubscribeBlock__button {
    margin-top: 4px;
    width: 100%; }
  .SubscribeBlock .Advantage__wrapper {
    background-color: #d2dde7;
    background-image: url(../img/brand/stripes_mail.png);
    background-repeat: repeat-x;
    border-color: #acbecf;
    box-shadow: 0 0 0 2px #fff inset, 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 22px 4px 5px; }
  .SubscribeBlock .Advantage__description {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    margin: 0 3px;
    padding: 8px 13px 6px;
    position: relative;
    line-height: 1.4em; }
  .SubscribeBlock__header {
    color: #5c6670;
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px; }

.CompanyStatistics {
  background: #edf2f4;
  border-top: 6px solid #e4e8ec;
  font-family: PT Sans Narrow;
  padding: 18px 0 3px; }
  .CompanyStatistics__container {
    width: 100%; }
  .CompanyStatistics__item {
    color: #707f8f;
    width: 100%; }
  .CompanyStatistics__number {
    font-size: 34px;
    line-height: 1em;
    margin-right: 2px; }
  .CompanyStatistics__text {
    font-size: 15px;
    text-transform: uppercase; }

.Footer {
  background-color: #1b1529;
  background-image: url(../img/brand/clouds_flare_footer.png);
  background-repeat: repeat-x;
  background-position: 50% 0;
  padding: 80px 0 30px; }

.FooterLinks {
  width: 100%; }
  .FooterLinks__item + .FooterLinks__item {
    padding-left: 110px; }
  .FooterLinks__header {
    color: #fff;
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-size: 18px;
    margin-bottom: 9px; }
  .FooterLinks__list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .FooterLinks__listItem {
    font-family: Quicksand;
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 1em; }
    .FooterLinks__listItem + .FooterLinks__listItem .FooterLinks__listlink {
      padding-top: 6px; }
  .FooterLinks__listlink {
    display: inline-block; }

/*# sourceMappingURL=main.css.map */