@import base



$radius: 5px

$side_padding: 17px

$col_active: #f14774

$font_main: Quicksand

$font_accent: PT Sans Narrow



.pseudolink
	display: inline-block
	border-bottom: 1px dotted


.PseudoTable 
	display: table

	&__cell
		display: table-cell
		vertical-align: top
		&.w25
			padding-left: 30px
			&:first-child
				margin-left: 0


.bbox 
	box-sizing: border-box


.w25 
	width: 25%


.separated
	position: relative
	&:before
		background: #fff
		border-left: 1px solid #bec4cc
		border-right: 1px solid #bec4cc
		box-shadow: 1px 0 0 #fff
		content: ""
		left: 0
		position: absolute
		top: 0
		height: 100%
		width: 1px


.Btn
	@extend .bbox
	display: inline-block
	border: 1px solid
	border-radius: $radius
	text-align: center
	line-height: 1em

	&--big
		font: 
			family: $font_accent
			size: 19px
			weight: bold
		padding: 19px 25px 16px
		text-transform: uppercase

	&--small
		font:
			size: 11px
			weight: bold
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .6)
		padding: 7px 10px 6px

	&--blue
		color: #fff
		background: 
			color: #4a81d4
			image: url(../img/ui/stripes_middle.png)
		border-color: #1d6fa7
		&:hover
			background: 
				color: #5290ef
		&:active
			background: 
				color: #406fb7

	&--red
		color: #8a1a38
		background: 
			color: #e33966
			image: url(../img/ui/stripes_big.png)
		border-color: #900429
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .2)
		box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset
		position: relative
		&:before
			background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, .2))
			content: ""
			height: 50%
			left: 0
			position: absolute
			top: 0
			width: 100%
		&:after
			background: radial-gradient(ellipse, rgba(255,255,255, 0.2), rgba(255,255,255, 0))
			content: ""
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%

		&:hover
			background:
				color: #fd4f7c
		&:active
			background:
				color: #af3051			

.icon
	display: inline-block
	background: url(../img/ui/icons.png) 0 0 no-repeat
	position: relative
	top: .15em
	&--menu 
		height: 16px
		margin-right: 5px
		width: 16px
	&--plane
		background-position: 0 -32px
	&--hand
		background-position: -42px -32px
	&--gears
		background-position: -84px -32px
	&--pointer
		background-position: -126px -32px
	&--phone
		background-position: -168px -32px
	&--change
		background-position: 0 -187px
		height: 26px
		width: 24px
	&--pin
		background-position: -25px 0
		height: 27px
		width: 20px
	&--redPin
		background-position: 0 -152px
		height: 30px
		width: 28px
	&--calendar
		background-position: 0 -106px
		height: 22px
		width: 20px
	&--man
		background-position: 0  -53px
		height: 48px
		width: 18px
	&--planeSmall
		background-position: 0 -133px
		height: 14px
		width: 15px
	&--changeSmall
		background-position: -20px -133px
		height: 14px
		width: 15px


a
	color: #bfc5d6
	text-decoration: none

	.icon
		cursor: pointer

	&:hover
		color: #ff3968

		.icon
			&--plane
				background-position: -21px -32px
			&--hand
				background-position: -63px -32px
			&--gears
				background-position: -105px -32px
			&--pointer
				background-position: -147px -32px
			&--phone
				background-position: -189px -32px
			&--change
				background-position: -29px -187px
			&--calendar
				opacity: .7
			&--man
				background-position: -23px -53px


.Page
	background:
		image: url(../img/brand/flare_top.png), url(../img/brand/clouds.png)
		color:  #160c21
		position: 50% 7px
		repeat: repeat-x


.Wrapper
	margin: 0 auto
	&--main
		box-sizing: border-box
		width: 960px
		padding: 0 $side_padding


.Header
	font-family: $font_main
	padding: 24px 0 45px 0
	&__box
		@extend .PseudoTable__cell

		&--logo
			width: 1px

		&--navigation
			text-align: right
			vertical-align: bottom
			padding-bottom: 10px

	&__logoLink
		background: url('../img/brand/logo.png') 0 0 no-repeat
		cursor: pointer
		display: block
		height: 61px		
		width: 95px
		&:hover
			background-position: -100px 0

	.Wrapper
		@extend .PseudoTable
		padding-right: 0


.MainNavigation 
	font-size: 14px

	&__item
		display: inline-block

		&:last-child
			.MainNavigation__link
				padding-right: 0

	&__link
		display: block
		padding-right: 45px


.FlyChoose
	font-family: $font_accent
	font-size: 17px
	margin-borrom: 55px

	&__box
		@extend .PseudoTable__cell

		+ .FlyChoose__box
			padding-left: 22px

	.Wrapper
		@extend .PseudoTable
		padding: 0


.Filter
	@extend .bbox
	background:
		color: #e3e5e8
	border-radius: $radius
	position: relative
	width: 655px
	max-height: 298px
	box-sizing: border-box
	&:before,
	&:after
		background:
			color: #f14774
			image: url(../img/ui/stripes_big.png)
		content: ""
		position: absolute
		width: 6px
		height: 70%
		top: 14px
	&:before
		left: -6px
		border-radius: $radius 0 0 $radius 
		box-shadow: -2px 0 2px rgba(0,0,0,.4) inset
	&:after
		right: -6px
		border-radius: 0 $radius $radius 0
		box-shadow: 2px 0 2px rgba(0,0,0,.4) inset



.Form
	max-height: 298px
	box-sizing: border-box

	&__section
		background:
			image: url('../img/ui/stripes_big.png')		
		border-radius: $radius
		border-bottom: 1px solid #c9ced6
		box-shadow: 0 1px 0 #fff
		padding: 4px 17px 9px
		&--dark
			background: 
				color: #e8e9ed
		&--bright
			background: 
				color: #f3f3f4

		+ .Form__section
			margin-top: 1px

	&__caption
		text-shadow: 1px 1px 0 #fff
		font-size: 15px
		font-weight: bold
		margin-left: 4px

	&__inputWrapper
		position: relative
		width: 100%

		&--icon
			.icon
				position: absolute
				right: 10px
				top: 12px

	&__input
		@extend .bbox
		box-shadow: 0 1px 3px rgba(0,0,0,.3)
		border-radius: $radius
		padding: 14px 12px 14px
		width: 100%
		&:hover
			box-shadow: 0 0 2px #79b2d3, 0 0 1px #79b2d3, 0 1px 3px rgba(0,0,0,.1)
		&:focus
			box-shadow: 0 0 2px #79b2d3, 0 0 1px #79b2d3, 0 0 10px #79b2d3, 0 1px 3px rgba(0,0,0,.3)
			+ .icon--pin
				background-position: 0 0
			~ .Form__inputText
				display: none

	&__inputText
		@extend .bbox
		color: #c6c6c6
		position: absolute
		top: 14px
		line-height: 1em
		&:before
			content: ", "
			color: #000


	&__item
		&--radio
			position: relative
			display: inline-block

	&__radio
		opacity: 0
		position: absolute
		left: 0
		vertical-align: middle
		+ .Form__caption
			display: inline-block
			position: relative
			font-size: 17px
			color: #9ca1ac
			text-shadow: 1px 1px 0 #fff
			white-space: nowrap
			margin: 0

			&:before
				content: ""
				background: 
					color: #838792
					image: url(../img/ui/stripes_small.png)
				border-radius: 22px
				box-shadow: inset 0 1px 5px rgba(0,0,0,.6)
				display: inline-block
				margin-right: 7px
				height: 22px
				position: relative
				top: 4px
				width: 22px
		&:checked
			+ .Form__caption
				color: $col_active
				&:after
					content: ""
					background: 
						color: $col_active
					border-radius: 15px
					box-shadow: 0 0 5px #000, 0 0 2px #000,  inset 0 0 1px rgba(255,255,255,.3),
					position: absolute
					left: 0
					top: 4px
					margin: 4px
					height: 14px
					width: 14px


.FormGroup
	@extend .PseudoTable

	&__box
		@extend .PseudoTable__cell


.FilterType
	@extend .bbox
	padding: 0
	width: 100%

	&__box
		@extend .bbox
		display: inline-block
		padding: 7px 17px 10px
		vertical-align: top
		width: 50%

		+ .FilterType__box
			@extend .separated


	.FormGroup
		width: 100%
		&__box
			text-align: right
			width: 50%
			&:first-child
				text-align: left


.FilterDestination
	&__changeDestination
		margin: 0 7px 0 9px
		position: relative
		top: 6px

	&__item
		display: inline-block
		.Form__input 
			width: 290px
		.Form__caption
			color: #596786


.FilterDetails
	@extend .bbox
	@extend .PseudoTable
	border: 0 none
	box-shadow: none
	padding: 5px 0 0
	width: 100%

	&__box
		@extend .PseudoTable__cell
		padding: 0 17px
		position: relative
		width: 50%

		+ .FilterDetails__box
			@extend .separated

	.Form__caption
		color: #c1c4cb



.FilterDate
	@extend .PseudoTable
	margin-left: -13px

	&__box
		@extend .PseudoTable__cell
		padding-left: 13px
		width: 50%


.ViewOnMap
	margin-top: 14px
	padding-top: 7px 
	position: relative
	&:before
		content: ""
		border-top: 1px solid #bec4cc
		border-bottom: 1px solid #fff
		height: 0
		position: absolute
		top: 0
		left: 0
		width: 100%
	text-align: center

	&__link
		@extend .pseudolink
		color: #9ca1ac
		font:
			family: helvetica, arial, sans-serif
			size: 14px
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .8)


.FilterCount
	@extend .PseudoTable
	width: 100%

	&__box
		@extend .PseudoTable__cell



.Page .PeopleCount
	margin-top: 3px
	&:hover
		.PeopleCount__item
			&:hover
				.icon--man
					background-position: -23px -53px
				~ .PeopleCount__item
					.icon--man
						background-position: 0 -53px
			.icon--man
				background-position: -23px -53px

	&__item
		display: inline-block
		padding-left: 10px
		&:first-of-type
			padding-left: 0

		.icon--man
			background-position: -23px -53px


.PeopleCount
	&__input
		opacity: 0
		position: absolute
		visibility: hidden
		&:checked
			~ .PeopleCount__item
				.icon--man
					background-position: 0 -53px
			+ .PeopleCount__item
				.icon--man
					background-position: -23px -53px


	&__caption
		display: block


.ChildrenCount
	@extend .PseudoTable
	color: #4b4b4b
	margin: 12px 0 16px

	&__box
		@extend .bbox
		@extend .PseudoTable__cell
		padding: 0 17px
		white-space: nowrap
		&:first-child
			padding-left: 0

		+ .ChildrenCount__box
			@extend .separated

	&__header
		font: 
			family: $font_main
			size: 12px

	&__item
		display: inline-block
		position: relative
		vertical-align: top
		margin-left: -4px
		&:first-child
			margin-left: -7px

	&__caption
		@extend .bbox
		border-radius: 23px
		display: block
		font: 
			family: $font_main
			size: 13px
			weight: bold
		max-height: 23px
		padding: 4px 0 6px
		text-align: center
		width: 23px
		line-height: 1em

	&__input
		position: absolute
		opacity: 0

		&:checked
			+ .ChildrenCount__caption
				background: #41aceb
				color: #fff


.FilterCountNumber
	margin-top: 3px
	color: #4b4b4b
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .4)
	font: 
		family: $font_main
		size: 12px
		weight: bold

	&__item
		background: #dfe2e5

		+ .FilterCountNumber__item
			margin-top: 10px

	&__count
		background: #d5dadf
		color: #6b99b4
		display: inline-block
		font-size: 23px
		width: 26px
		text-align: center
		line-height: 1em
		padding: 3px 0 4px




.FlyChoose__box--map
	width: 100%

.FlightRout
	background:
		color: #fff
		image: url(../img/brand/map.png)
		position: 50% 50%
	position: relative
	width: 100%

	&__map
		@extend .bbox
		background: #fff
		opacity: .8
		padding: 6px
		position: relative
		width: 100%

	&__mapWrapper
		width: 100%
		height: 286px
		position: relative

		iframe
			position: absolute
			height: 100%
			width: 100%

	&__trajectory
		position: absolute
		height: 100%
		top: 0
		left: 0
		width: 100%

	&__trajectoryIcon
		position: absolute

	&__description
		@extend .bbox
		bottom: 0
		color: #fff
		padding: 0 12px 12px
		position: absolute
		width: 100%

	&__points
		background: rgba(0, 0, 0, .5)
		font:
			family: $font_accent
			size: 14px
			weight: bold
		padding: 4px 12px 3px


	&__count
		background: rgba(0, 0, 0, .7)
		font: 
			family: $font_main
			size: 12px
		text-align: center
		padding: 8px 12px 6px


.FilterButton
	padding: 0 
	position: relative
	height: 30px
	box-shadow: none
	border: 0 none

	&__button
		position: absolute
		top: 2px
		left: 50%
		margin-left: -101px
		width: 202px


.Advantages
	background: 
		color: #fff
		image: url(../img/brand/stripes_blue.png)
		repeat: repeat-x
	position: relative
	margin-top: 55px
	padding: 46px 0 40px

	&__container
		@extend .PseudoTable
		margin-left: -30px

	&__box
		@extend .PseudoTable__cell
		@extend .w25

	.Wrapper
		padding: 0


.Advantage
	background:
		color: #e94570
		image: url(../img/ui/stripes_big.png)
	border-radius: $radius
	padding-bottom: 5px
	overflow: hidden

	&__wrapper
		background: #f1f3f5
		border: 1px solid #dae1e8
		border-radius: $radius
		box-shadow: 0 2px 4px rgba(0,0,0,.6)
		min-height: 228px
		box-sizing: border-box

	&__imageWrapper
		border: 1px solid #fff
		box-shadow: 0 0 2px #000
		margin: 4px
		height: 128px
		overflow: hidden
		position: relative

	&__image
		@extend .bbox
		position: absolute
		width: 100%


	&__description
		color: #596786
		font-size: 11px
		padding: 0 17px
		margin: 8px 0 6px
		line-height: 1.7em
		text-align: justify


.SubscribeBlock
	text-align: center

	&__image
		background: 
			image: url(../img/brand/letter.png)
			repeat: no-repeat
		display: inline-block
		vertical-align: top
		height: 43px
		width: 128px

	&__form
		margin-top: 5px

	&__textInputWrapper
		padding: 0 3px

	&__textInput
		background: #a4b7c9
		border: 1px solid #e8eef3
		box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset
		display: block
		padding: 7px 10px 8px
		width: 100%
		font:
			family: $font_accent
			size: 16px
			weight: bold

		&:focus
			background: #fff

		&::-webkit-input-placeholder
			color: #d6e0ec
			text-shadow: 1px 1px 0 rgba(0, 0, 0, .3)
		&::-moz-placeholder
			color: #d6e0ec
			text-shadow: 1px 1px 0 rgba(0, 0, 0, .3)
		&:-moz-placeholder
			color: #d6e0ec
			text-shadow: 1px 1px 0 rgba(0, 0, 0, .3)
		&:-ms-input-placeholder
			color: #d6e0ec
			text-shadow: 1px 1px 0 rgba(0, 0, 0, .3)

	&__button
		margin-top: 4px
		width: 100%


	.Advantage

		&__wrapper
			background:
				color: #d2dde7
				image: url(../img/brand/stripes_mail.png)
				repeat: repeat-x
			border:
				color: #acbecf
			box-shadow: 0 0 0 2px #fff inset, 0 2px 4px rgba(0,0,0,.6)
			padding: 22px 4px 5px

		&__description
			background: #fff
			box-shadow: 0 0 2px rgba(0, 0, 0, .8)
			margin: 0 3px
			padding: 8px 13px 6px
			position: relative
			line-height: 1.4em

	&__header
		color: #5c6670
		text-transform: uppercase
		font-family: $font_accent
		font-weight: bold
		font-size: 16px
		margin-bottom: 4px


.CompanyStatistics
	background: #edf2f4
	border-top: 6px solid #e4e8ec
	font-family: $font_accent
	padding: 18px 0 3px

	&__container
		@extend .PseudoTable
		width: 100%

	&__box
		@extend .PseudoTable__cell
	&__item

		color: #707f8f
		width: 100%

	&__number
		font-size: 34px
		line-height: 1em
		margin-right: 2px

	&__text
		font-size: 15px
		text-transform: uppercase





.Footer
	background: 
		color: #1b1529
		image: url(../img/brand/clouds_flare_footer.png)
		repeat: repeat-x
		position: 50% 0
	padding: 80px 0 30px


.FooterLinks
	@extend .PseudoTable
	width: 100%

	&__item
		@extend .PseudoTable__cell
		+ .FooterLinks__item
			padding-left: 110px

	&__header
		color: #fff
		text-transform: uppercase
		font-family: $font_accent
		font-size: 18px
		margin-bottom: 9px

	&__list
		list-style-type: none
		margin: 0
		padding: 0

	&__listItem
		font-family: $font_main
		font-size: 14px
		padding: 0
		margin: 0
		line-height: 1em
		+ .FooterLinks__listItem
			.FooterLinks__listlink
				padding-top: 6px

	&__listlink
		display: inline-block




